:root {
    background-color: #282c34 !important;
}

.primary-style {
    color: white !important;
    background-color: #282c34 !important;
}

div.row {
    padding-right: 0px;
    padding-left: 0px
}

div.col {
    padding-right: 0px;
    padding-left: 0px
}

div.container {
    padding-right: 0px;
    padding-left: 0px
}