.bet-panel-title {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: baseline;
    font-size: 28px;
    margin-bottom: 24px;
}

.bet-panel-title .product {
    font-weight: 600;
    margin-inline-end: 6px;
}