/* override bootstrap golbal variables to make global style */
:root {
  --bs-body-font-family: "Poppins" !important;
  --primary-color: #9D47E0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.primary-style {
  color: white !important;
  background-color: #282c34 !important;
}


.btn.btn-tertiary {
  color: var(--primary-color);
}

.btn.btn-tertiary {
  color: var(--primary-color);
}